# 테스트 데이터
Simple_Dewarp/MNIST/


# 가상환경 패키지
py32venv/
rcfenv/
rcf_env/


# RCF 사전학습모델
RCF/only-final-lr-0.01-iter-130000.pth

# 페이퍼엣지 사전학습모델
model_analysis/PaperEdge/models/
Simple_DewarpNet/PaperEdge/models/

# 바이트 코드파일
*.pyc
RCF/flask_test/__pycache__/
